<html>
<head>
    <title>Brian's Homelab</title>
</head>
<body>
<h1>Brian's Homelab.</h1>
<p>
    If you can read this, you are proficient in English.
</p>
<footer>
    This server runs version <a href="https://github.com/briandeheus/homelab"><b>{{ commit_hash }}</b></a> of my Homelab
    software.
    <ul>
        <li>
            <a href="https://github.com/briandeheus">Find me on GitHub</a>
        </li>
        <li>
            <a href="https://famichiki.jp/@brian">Find me on Mastodon</a>
        </li>
    </ul>
</footer>
</body>
</html>