<html>
<head>
    <title>Poomp Mooscles. Get Stronk.</title>
</head>
<body>
<h1>Poomp Mooscles. Get Stronk</h1>
<ul>
    <li><a href="#30minute-chest-biceps">30 minutes / Chest & Biceps</a></li>
</ul>
<h2 id="30minute-chest-biceps">30 Minute Chest & Biceps</h2>
<h2>Chest (15 minutes):</h2>
<ul>
    <li>
        <strong>Flat Dumbbell Bench Press</strong> - 4 sets x 10-12 reps
        <ul>
            <li>(Rest 45-60s between sets)</li>
            <li><a href="https://www.youtube.com/watch?v=YQ2s_Y7g5Qk" target="_blank">How-To</a></li>
        </ul>
    </li>
    <li>
        <strong>Incline Dumbbell Press</strong> - 3 sets x 10-12 reps
        <ul>
            <li>(Rest 45s)</li>
            <li><a href="https://www.youtube.com/watch?v=5CECBjd7HLQ" target="_blank">How-To</a></li>
        </ul>
    </li>
    <li>
        <strong>Dumbbell Flyes (Flat or Incline)</strong> - 3 sets x 12 reps
        <ul>
            <li>(Rest 30-45s)</li>
            <li>
                <a href="https://www.youtube.com/watch?v=JSDpq14vCZ8" target="_blank">How-To (Incline)</a>
            </li>
        </ul>
    </li>
</ul>
<h2>Biceps (15 minutes):</h2>
<ul>
    <li>
        <strong>Dumbbell Bicep Curl</strong> - 4 sets x 10-12 reps
        <ul>
            <li>(Rest 45s)</li>
            <li>
                <a href="https://www.youtube.com/watch?v=BsULGO70tcU" target="_blank">How-To (Seated)</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Incline Dumbbell Curl</strong> - 3 sets x 10 reps
        <ul>
            <li>(Rest 45s)</li>
            <li>
                <a href="https://www.youtube.com/watch?v=FM7725AeXPA" target="_blank">How-To</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Hammer Curl</strong> - 3 sets x 12 reps
        <ul>
            <li>(Rest 30-45s)</li>
            <li>
                <a href="https://www.youtube.com/watch?v=CFBZ4jN1CMI" target="_blank">How-To</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>